<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
   <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Why you may need better <em>sleeping habits</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                            <li> Sleeping disorders are one of the most common forms of physical disorders.
                                </li>

                                <li> About one in four persons is affected in Europe. About three out of five 
                                Americans report sleeping badly one or more times during the week.</li>

                                <li>  Other estimates suggest at least one in ten people in Europe will be taking 
                                medication on any single night to help them sleep. </li>

                                <li> Categories of sleeping disorder include difficulties in falling asleep, difficulties in 
                                staying asleep during the night with constant interruptions / awakenings in the 
                                sleep wake cycle during the night and, not being able to fall asleep again once 
                                awoken in the very early morning hours.</li>

                                <li> There are enormous individual differences in terms of what ‘sufficient sleep’ 
                                actually means for people. Some people require three to four hours per night, 
                                whilst others require more than eight hours per night. </li>

                                <li>  How much sleep do you really need to be really well? One simple way is for you 
                                to ask yourself: “How satisfied am I with 
                                <ol>
                                <li> the amount of sleep I am getting
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <br>
                                            <tr>
                                                <td>
                                                    <form>
                                                        <label for="Very dissatisfied">Very dissatisfied</label> <br>
                                                        <input type="radio" id="Very dissatisfied" name="select"
                                                            value="Very dissatisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Dissatisfied">Dissatisfied</label> <br>
                                                        <input type="radio" id="Dissatisfied" name="select"
                                                            value="Dissatisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Neutral">Neutral</label> <br>
                                                        <input type="radio" id="Neutral" name="select" value="Neutral">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Satisfied">Satisfied</label> <br>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Very-Satisfied">Very Satisfied</label> <br>
                                                        <input type="radio" id="Very-Satisfied" name="select"
                                                            value="Very-Satisfied">
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                </li>
                                <li> the quality of sleep that I am getting”?
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <br>
                                            <tr>
                                                <td>
                                                    <form>
                                                        <label for="Very dissatisfied">Very dissatisfied</label> <br>
                                                        <input type="radio" id="Very dissatisfied" name="select"
                                                            value="Very dissatisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Dissatisfied">Dissatisfied</label> <br>
                                                        <input type="radio" id="Dissatisfied" name="select"
                                                            value="Dissatisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Neutral">Neutral</label> <br>
                                                        <input type="radio" id="Neutral" name="select" value="Neutral">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Satisfied">Satisfied</label> <br>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <label for="Very-Satisfied">Very Satisfied</label> <br>
                                                        <input type="radio" id="Very-Satisfied" name="select"
                                                            value="Very-Satisfied">
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                </li>
                                </ol></li>
                                <li>  A more systematic way is to create a ‘sleep log’ to gain a deeper understanding 
                                of how much sleep is optimal for you.
                                </li>
                                <li>  How to keep a sleep log       
                                <ol>
                                <li>Generally it is done over seven continuous days </li>
                                <li> At the end of each 24 hour cycle you note in the log approximately how 
                                many hours you spent sleeping.
                                 </li>
                                 <li>You also note down if you felt the amount of sleep you had was right, too 
                                much or too little.</li>
                                <li>You can use the table below to fill in your sleep log</li>
                                </ol></li>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td></td>
                                                <td>Hours slept </td>
                                                <td>Just right</td>
                                                <td>Too much</td>
                                                <td>Too little</td>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td>
                                                    Monday
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tuesday
                                                </td>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Wednesday
                                                </td>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Thursday
                                                </td>
                                                <td>
                                                
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Friday
                                                </td>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Saturday
                                                </td>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">

                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Sunday
                                                </td>
                                                <td>                                                   
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <input type="radio" id="Satisfied" name="select"
                                                            value="Satisfied">
                                                    </form>
                                                </td>
                                            </tr>

                                        </table>
                            </ul>         
            </section> 
</div>
